.sorting-panel .nav-item {
  font-weight: bold;
}
.sorting-panel .nav-item.sorting-panel-item .nav-link {
  border-radius: 0;
}
.sorting-panel .nav-item.sorting-panel-item .nav-link.active {
  position: relative;
}
.sorting-panel .nav-item.sorting-panel-item .nav-link.active .sorting-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  font-weight: bold;
}
.sorting-panel .nav-item.sorting-panel-item .nav-link.active .sorting-link:hover {
  opacity: 0.8;
  background: none;
}
.sorting-panel .nav-item.sorting-panel-item .nav-link.active .sorting-link svg,
.sorting-panel .nav-item.sorting-panel-item .nav-link.active .sorting-link i {
  position: absolute;
  right: 10px;
  top: 2px;
}
.paginate .pagination .page-item .page-link {
  border-radius: 0;
}
.paginate .pagination .page-item .page-link.active {
  background: #4a76a8;
  color: #FFFFFF;
}
.simple-accordion {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.simple-accordion .accordion-buttons-link {
  color: #2a5885;
  cursor: pointer;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block {
  padding-bottom: 25px;
  padding-top: 5px;
  background-color: #f7f7f7;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block:hover {
  background-color: #d9e2ec;
}
.simple-accordion .accordion-buttons-link .accordion-buttons-block .accordion-button {
  position: absolute;
  font-weight: 600;
}
.widget-header .before-content-title {
  color: #FFFFFF;
  background: #4a76a8;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
}
.general-content.controller-home-index {
  background: #edeef0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.general-content.controller-home-index .main-content {
  margin-bottom: 0 !important;
}
.general-content.controller-home-index .before-content-widget-header {
  display: block;
  margin-top: 1em;
}
.general-content.controller-home-index .before-content-widget-header:first-child {
  margin-top: 0;
}
.general-content.controller-home-index .before-content-widget-body {
  background: #FFFFFF;
  padding-top: 1em;
  padding-bottom: 1em;
}
.widget-carousel .carousel-inner {
  height: 400px;
}
.widget-carousel .carousel-inner .carousel-item img {
  height: 400px;
}
.widget-carousel .carousel-inner .carousel-item .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  left: 0;
  bottom: 0;
  width: 100%;
}
.widget-carousel .carousel-inner .carousel-item .carousel-caption .item-link {
  background: #4a76a8;
  font-weight: bold;
}
.widget-carousel .carousel-inner .carousel-item .carousel-caption .item-link:hover {
  background: #FFFFFF;
  color: #4a76a8;
}
.widget-carousel .carousel-buttons {
  position: relative;
  display: block;
}
.widget-carousel .carousel-buttons .carousel-buttons-item {
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
}
.widget-carousel .carousel-buttons .carousel-buttons-item:hover {
  cursor: pointer;
  background: #f8f8f8;
  color: #555555;
}
.widget-carousel .carousel-buttons .carousel-buttons-item.active {
  background: rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
}
.widget-carousel .carousel-buttons .carousel-buttons-item img {
  max-width: 100%;
  height: 64px;
}
