.breadcrumbs a:hover > .value {
  background: #d9e2ec;
}
.breadcrumbs#top .breadcrumb {
  border-bottom: solid 1px #edeef0;
  margin-top: 15px;
  padding-bottom: 5px;
}
.breadcrumbs#bottom .breadcrumb {
  margin-bottom: 15px;
  padding-top: 5px;
}
.breadcrumbs .breadcrumb {
  border-radius: 0;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}
.breadcrumbs .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 2.5px;
  font-weight: bold;
  content: "›";
}
.breadcrumbs .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 2.5px;
}
.breadcrumbs .breadcrumb .value {
  display: inline-block;
  padding: 5px 5px;
  margin: 0;
}
.breadcrumbs .breadcrumb .value .icon {
  color: chocolate;
}
