.feedback-contacts .feedback .title-info {
  font-size: 16px;
  font-weight: bold;
}
.feedback-contacts .feedback .feedback-item .region-head {
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
}
.feedback-contacts .feedback .feedback-item .location {
  font-weight: bold;
}
.feedback-contacts .feedback .feedback-item .location .city .house {
  margin-left: 4px;
}
.feedback-contacts .feedback .feedback-item .location .city .apartment {
  margin-left: 4px;
}
.feedback-contacts .feedback .feedback-item .location .contacts {
  font-size: 20px;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div:hover {
  background-color: #d9e2ec;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg {
  font-size: 20px;
  padding-right: 10px;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i.fas.fa-phone-alt,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg.fas.fa-phone-alt {
  color: #9fcdff;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i.fas.fa-at,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg.fas.fa-at {
  color: #999999;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i.fab.fa-whatsapp,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg.fab.fa-whatsapp {
  color: #28a745;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i.fab.fa-viber,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg.fab.fa-viber {
  color: rebeccapurple;
}
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div i.fab.fa-telegram,
.feedback-contacts .feedback .feedback-item .location .feedback-contacts-block a div svg.fab.fa-telegram {
  color: #4a76a8;
  font-weight: normal;
}
.feedback-list .feedback-items .bids-item:first-child {
  border-top: none;
}
.feedback-list .feedback-items .bids-item .bid-items-info .bid-items-item-avatar .item-date {
  font-style: italic;
  color: #999999;
  font-size: 10px;
}
.feedback-list .feedback-items .bids-item .bid-items-info .bid-items-item-avatar .item-date-readed {
  color: #28a745;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}
.feedback-list .feedback-items .bids-item .bid-items-info .bid-items-item-info .item-email {
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
}
.feedback-list .feedback-items .bids-item .bid-items-info .bid-items-item-info .item-email .total-per-contact {
  position: absolute;
  right: 1em;
  color: #ffffff;
  background: #28a745;
  padding: 0 0.5em;
}
.feedback-list .feedback-items .bids-item .bid-items-info .bid-items-item-info .item-email .total-per-contact-new {
  background: #dc3545;
}
.feedback-item .feedback-item-class .feedback-info .name .feedback-name,
.feedback-item .feedback-item-class .feedback-info .email .feedback-name,
.feedback-item .feedback-item-class .feedback-info .phone .feedback-name,
.feedback-item .feedback-item-class .feedback-info .name .feedback-email,
.feedback-item .feedback-item-class .feedback-info .email .feedback-email,
.feedback-item .feedback-item-class .feedback-info .phone .feedback-email,
.feedback-item .feedback-item-class .feedback-info .name .feedback-phone,
.feedback-item .feedback-item-class .feedback-info .email .feedback-phone,
.feedback-item .feedback-item-class .feedback-info .phone .feedback-phone {
  font-weight: bold;
  font-size: 14px;
}
.feedback-item .feedback-item-class .feedback-question-title {
  font-weight: bold;
}
.feedback-item .feedback-item-class .feedback-question .date {
  color: #28a745;
  font-weight: bold;
  font-style: italic;
}
.feedback-item .feedback-item-class .feedback-answer-title {
  font-weight: bold;
}
.feedback-item .feedback-item-class .feedback-answer .date {
  color: #28a745;
  font-weight: bold;
  font-style: italic;
}
.form-reply .item-content .item-user {
  font-size: 15px;
}
.form-reply .item-content .item-user .user {
  font-weight: bold;
  color: #4a76a8;
}
