.user-profile .user-left-bar .user-info-panel .user-card .card-header {
  font-size: 12px;
}
.user-profile .user-left-bar .user-info-panel .user-card .card-body {
  color: chocolate;
}
.user-profile .user-left-bar .user-info-panel .user-card .card-body .reg-date {
  font-weight: bold;
  font-size: 11px;
}
.user-profile .user-left-bar .user-info-panel .user-card .card-body .log-date {
  font-weight: bold;
  font-size: 11px;
  color: #28a745;
}
.user-profile .user-left-bar .user-info-panel .user-card .card-body .user-groups {
  font-weight: bold;
  font-size: 11px;
}
.user-profile .user-left-bar .user-avatar img {
  max-width: 200px;
}
.user-profile .user-left-bar .user-menu .list-group {
  width: 200px;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item {
  padding: 0;
  border: none;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item .list-item-link {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: block;
  font-weight: bold;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item .list-item-link .text {
  padding-left: 0.5em;
}
.user-profile .user-left-bar .user-menu .list-group .list-group-item:first-child .list-item-link {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .audios-block .audios-block-header {
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.125);
  border-right: solid 1px rgba(0, 0, 0, 0.125);
  border-top: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .audios-block .audios-block-header:hover {
  background-color: #d9e2ec;
}
.user-profile .user-left-bar .audios-block .audios-block-header .count {
  font-style: italic;
  color: chocolate;
  font-size: 14px;
}
.user-profile .user-left-bar .audios-block .audios-block-body {
  border: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .audios-block .audios-block-body .audios-block-body-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .audios-block .audios-block-body .audios-block-body-item:last-child {
  border: none;
}
.user-profile .user-left-bar .audios-block .audios-block-body .audios-block-body-item .icon {
  font-size: 20px;
}
.user-profile .user-left-bar .audios-block .audios-block-body .audios-block-body-item .text {
  font-weight: bold;
  line-height: 2.3;
}
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-icon {
  font-size: 24px;
}
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-icon i,
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-icon svg {
  color: #28a745;
}
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-link {
  color: #999999;
}
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-link:hover {
  color: #FFFFFF;
}
.user-profile .user-left-bar .audios-block .audios-block-body .block .block-link .block-content {
  line-height: 2;
  font-size: 17px;
  font-style: italic;
}
.user-profile .user-left-bar .videos-block .videos-block-header {
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.125);
  border-right: solid 1px rgba(0, 0, 0, 0.125);
  border-top: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .videos-block .videos-block-header:hover {
  background-color: #d9e2ec;
}
.user-profile .user-left-bar .videos-block .videos-block-header .count {
  font-style: italic;
  color: chocolate;
  font-size: 14px;
}
.user-profile .user-left-bar .videos-block .videos-block-body {
  border: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .videos-block .videos-block-body .videos-block-body-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .videos-block .videos-block-body .videos-block-body-item:last-child {
  border: none;
}
.user-profile .user-left-bar .videos-block .videos-block-body .videos-block-body-item .icon {
  font-size: 20px;
}
.user-profile .user-left-bar .videos-block .videos-block-body .videos-block-body-item .text {
  font-weight: bold;
  line-height: 2.3;
}
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-icon {
  font-size: 24px;
}
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-icon i,
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-icon svg {
  color: #28a745;
}
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-link {
  color: #999999;
}
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-link:hover {
  color: #FFFFFF;
}
.user-profile .user-left-bar .videos-block .videos-block-body .block .block-link .block-content {
  line-height: 2;
  font-size: 17px;
  font-style: italic;
}
.user-profile .user-left-bar .files-block .files-block-header {
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.125);
  border-right: solid 1px rgba(0, 0, 0, 0.125);
  border-top: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .files-block .files-block-header:hover {
  background-color: #d9e2ec;
}
.user-profile .user-left-bar .files-block .files-block-header .count {
  font-style: italic;
  color: chocolate;
  font-size: 14px;
}
.user-profile .user-left-bar .files-block .files-block-body {
  border: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .files-block .files-block-body .files-block-body-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.125);
}
.user-profile .user-left-bar .files-block .files-block-body .files-block-body-item:last-child {
  border: none;
}
.user-profile .user-left-bar .files-block .files-block-body .files-block-body-item .icon {
  font-size: 20px;
}
.user-profile .user-left-bar .files-block .files-block-body .files-block-body-item .text {
  font-weight: bold;
  line-height: 2.3;
}
.user-profile .user-left-bar .files-block .files-block-body .block .block-icon {
  font-size: 24px;
}
.user-profile .user-left-bar .files-block .files-block-body .block .block-icon i,
.user-profile .user-left-bar .files-block .files-block-body .block .block-icon svg {
  color: #28a745;
}
.user-profile .user-left-bar .files-block .files-block-body .block .block-link {
  color: #999999;
}
.user-profile .user-left-bar .files-block .files-block-body .block .block-link:hover {
  color: #FFFFFF;
}
.user-profile .user-left-bar .files-block .files-block-body .block .block-link .block-content {
  line-height: 2;
  font-size: 17px;
  font-style: italic;
}
.user-profile .user-right-bar .user-header-info .user-name {
  font-size: 14px;
  font-weight: bold;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a {
  color: #28a745;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a i,
.user-profile .user-right-bar .user-header-info .user-date-log.online a svg {
  color: unset;
}
.user-profile .user-right-bar .user-header-info .user-date-log.online a i.circle,
.user-profile .user-right-bar .user-header-info .user-date-log.online a svg.circle {
  background: #28a745;
  border: solid 2px #FFFFFF;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a {
  color: #dc3545;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a i,
.user-profile .user-right-bar .user-header-info .user-date-log.offline a svg {
  color: unset;
}
.user-profile .user-right-bar .user-header-info .user-date-log.offline a i.circle,
.user-profile .user-right-bar .user-header-info .user-date-log.offline a svg.circle {
  background: #dc3545;
  border: solid 2px #FFFFFF;
}
.user-profile .user-right-bar .user-status {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 4px;
}
.user-profile .user-right-bar .user-status .date-add {
  font-style: italic;
  opacity: 0.5;
}
.user-profile .user-right-bar .user-status .date-add:hover {
  opacity: 1;
}
.user-profile .user-right-bar .user-status .status-menu span {
  padding-left: 4px;
}
.user-profile .user-right-bar .user-status .status-menu span:after {
  content: "";
}
.user-profile .user-right-bar .user-status .status-menu span:last-child:after {
  content: '';
}
.user-profile .user-right-bar .user-visible-info {
  padding: 0;
}
.user-profile .user-right-bar .user-invisible-info {
  padding: 0;
}
.user-profile .user-right-bar .user-invisible-info .field-set-value {
  font-weight: bold;
}
.user-profile .user-right-bar .user-invisible-info .empty-value {
  border-top: 1px dashed #ccc;
  margin-top: 10px;
}
.user-profile .user-right-bar .photos-block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.user-profile .user-right-bar .photos-block .photos-block-header {
  padding: 0.5em 1.5em;
  font-weight: bold;
  border: none;
}
.user-profile .user-right-bar .photos-block .photos-block-header:hover {
  background-color: #d9e2ec;
}
.user-profile .user-right-bar .photos-block .photos-block-header .count {
  font-style: italic;
  color: chocolate;
  font-size: 14px;
}
.user-profile .user-right-bar .photos-block .photos-block-body .photos-block-body-item a:hover {
  background: none;
}
.user-profile .user-right-bar .photos-block .photos-block-body .photos-block-body-item a img {
  border: solid 1px rgba(0, 0, 0, 0.125);
  max-width: 64px;
}
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-icon {
  font-size: 24px;
}
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-icon i,
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-icon svg {
  color: #28a745;
}
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-link {
  color: #999999;
}
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-link:hover {
  color: #FFFFFF;
}
.user-profile .user-right-bar .photos-block .photos-block-body .block .block-link .block-content {
  line-height: 2;
  font-size: 17px;
  font-style: italic;
}
.users-list .users .users-item {
  border-left: none;
  border-right: none;
}
.users-list .users .users-item:first-child {
  border-top: none;
}
.users-list .users .users-item:last-child {
  border-bottom: none;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar {
  position: relative;
  width: 64px;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar img {
  border-radius: 50%;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 0 3px;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online i,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online svg {
  color: #28a745;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online i.circle,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-online svg.circle {
  background: #28a745;
  border: solid 2px #FFFFFF;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline i,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline svg {
  color: #dc3545;
}
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline i.circle,
.users-list .users .users-item .users-info .users-item-avatar .avatar .status-offline svg.circle {
  background: #dc3545;
  border: solid 2px #FFFFFF;
}
.users-list .users .users-item .users-info .users-item-info .full-name {
  font-size: 12px;
  font-weight: bold;
}
.users-list .users .users-item .users-info .users-item-info .users-item-descriptions {
  color: #6f7985;
}
.users-list .users .users-item .users-info .drop-down-user-menu .menu-links .menu-list {
  width: 200px;
}
.users-list .users .users-item .users-info .drop-down-user-menu .menu-links .menu-list .list-group-item {
  border: none;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.users-list .users .users-item .users-info .drop-down-user-menu .menu-links .menu-list .list-group-item:first-child {
  border-top: none;
}
.users-list .users .users-item .users-info .drop-down-user-menu .menu-links .menu-list .list-group-item .menu-list-item-link {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: block;
  font-weight: bold;
}
.users-list .users .users-item .users-info .drop-down-user-menu .menu-links .menu-list .list-group-item .menu-list-item-link .menu-list-item-link-icon {
  border: none;
}
.user-info-widget.sidebar .name-and-avatar {
  position: relative;
}
.user-info-widget.sidebar .name-and-avatar .icon-logged {
  position: absolute;
  left: 7px;
  bottom: 5px;
}
.user-info-widget.sidebar .name-and-avatar .icon-logged.online i,
.user-info-widget.sidebar .name-and-avatar .icon-logged.online svg {
  color: #28a745;
}
.user-info-widget.sidebar .name-and-avatar .icon-logged.offline i,
.user-info-widget.sidebar .name-and-avatar .icon-logged.offline svg {
  color: #dc3545;
}
.user-info-widget .body a.user-info-link {
  position: relative;
  padding: 7px 20px;
}
.user-info-widget .body a.user-info-link i,
.user-info-widget .body a.user-info-link svg {
  font-size: 25px;
  color: #FFFFFF;
}
.user-info-widget .body a.user-info-link:hover {
  background: none;
  opacity: 0.8;
}
.user-info-widget .body a.user-info-link img {
  max-width: 24px;
}
.user-info-widget .body .count {
  position: absolute;
  top: 0;
  color: #FFFFFF;
  background-color: #dc3545;
  padding: 0 6px;
  font-weight: bold;
}
.user-info-widget .body .dropdown-menu .dropdown-item {
  padding: 8px 25px;
}
.user-info-widget .body .dropdown-menu .dropdown-item img {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu .dropdown-item .icon {
  padding-right: 10px;
}
.user-info-widget .body .dropdown-menu a.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
  padding: 0;
}
.user-info-widget .body.search-panel .input-group input.form-control:active {
  border: none;
  box-shadow: unset;
}
.user-info-widget .body.search-panel .input-group input.form-control:focus {
  border: none;
  box-shadow: unset;
}
.before-content-widget-body .users-item .users-item-link .avatar {
  position: relative;
  width: 80px;
}
.before-content-widget-body .users-item .users-item-link .avatar img {
  border-radius: 50%;
  max-width: 100%;
}
.before-content-widget-body .users-item .users-item-link .avatar .status {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  padding: 0 3px;
}
.before-content-widget-body .users-item .users-item-link .avatar .status-online i,
.before-content-widget-body .users-item .users-item-link .avatar .status-online svg {
  color: #28a745;
}
.before-content-widget-body .users-item .users-item-link .avatar .status-online i.circle,
.before-content-widget-body .users-item .users-item-link .avatar .status-online svg.circle {
  background: #28a745;
  border: solid 2px #FFFFFF;
}
.before-content-widget-body .users-item .users-item-link .avatar .status-offline i,
.before-content-widget-body .users-item .users-item-link .avatar .status-offline svg {
  color: #dc3545;
}
.before-content-widget-body .users-item .users-item-link .avatar .status-offline i.circle,
.before-content-widget-body .users-item .users-item-link .avatar .status-offline svg.circle {
  background: #dc3545;
  border: solid 2px #FFFFFF;
}
.before-content-widget-body .users-item .users-item-link .users-item-title {
  font-weight: bold;
}
